---
layout: default
title: Girl Scouts
---

{% if page.url == "/" %}


<!-- Site Title
================================================== -->
<div class="mainheading">

    <h1 class="sitetitle">Welcome to our Virtual Campout</h1>
    <p class="lead" style="padding: 1rem 0;">
        {{ site.description }}
    </p>
    <p class="lead">
    To join our virtual campout, follow these simple steps:
    </p>
    <p class="lead">
        <br/>
        First, <strong><a href="/tent/">put up a tent</a> or <a href="/make-an-epic-pillowfort/">pillowfort</a></strong><br/>
        <br/>
        Second, <strong><a href="/categories/">complete four of the suggested activities</a></strong> of your choice:<br/>
        1. _________________________<br/>
        2. _________________________<br/>
        3. _________________________<br/>
        4. _________________________<br/>
        <br/>
        Finally, join your troop or service unit for a <strong>virtual dance party and s'mores</strong>!<br/>
        <em><span style="font-size: 0.75em;">(Check your email or ask your troop leader for a video conference link.)</span></em>
</div>


<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

